.headerRightContainer {
	align-items: center;
	display: flex;
	flex-grow: 1;
	gap: 1em;
	justify-content: center;
}
.navItem {
	color: #000000;
	transition: 0.3s ease-in-out;
}
.navItem:hover {
	color: #858585;
}
