.heroContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 10.6em;
	position: relative;
}
.titleContainer {
	align-items: center;
	color: #444;
	display: flex;
	font-size: 18px;
	flex-direction: column;
	font-family: Lora, serif;
	position: absolute;
	top: -5%;
}
.firstTitle {
	font-size: 1.1em;
	font-weight: 500;
}
.secondTitle {
	font-size: 5.5em;
	font-weight: 500;
}
.img {
	height: 25em;
	object-fit: cover;
	width: 100%;
}
