i {
	color: #444;
	font-size: 1.1em;
}

.iconContainer {
	align-items: center;
	display: flex;
}

.sidebarCategories {
	align-items: center;
	display: grid;
	grid-auto-rows: 2em;
	grid-template-columns: 50% 50%;
	justify-items: center;
	width: 100%;
}

.sidebarCategory {
	color: #be9656;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

.sidebarContainer {
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 0.4em;
	display: flex;
	flex-direction: column;
	height: fit-content;
	justify-content: center;
	padding: 1em;
	margin: 1em;
	width: 15em;
}

.sidebarDescription {
	color: #444;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	padding: 1em;
}

.sidebarImage {
	height: 13em;
	object-fit: cover;
	width: 13em;
}

.sidebarTitle {
	border-bottom: 1px solid #a7a4a4;
	border-top: 1px solid #a7a4a4;
	font-family: Varela Round, sans-serif;
	font-size: 0.7em;
	font-weight: 600;
	margin: 1em 0;
	padding: 0.5em;
	text-align: center;
	width: 100%;
}

.socialMediaContainer {
	align-items: center;
	display: flex;
	gap: 0.6em;
	justify-content: center;
	margin-bottom: 1em;
}

@media (max-width: 717px) {
	.sidebarContainer {
		width: 100%;
	}

	.sidebarImage {
		height: 100%;
		width: 100%;
	}
}
